<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.kibotu.android.error.tracking"
          android:versionCode="1000000"
          android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest> 
